node_modules/
.env
*.sqlite
*.sqlite-journal
data/*.sqlite
data/*.sqlite-journal
.DS_Store
base/
node_modules/
data/
.env
*.sqlite
*.db
base/
node_modules/
data/
.env
*.sqlite
*.db
*.rar
*.zip
*.cab
*.exe
